<div class="footerwrapper">
  <div class="row">
    <div class="column">
      <h2>+49211599980</h2>
      <p>Mo - Fr 7.00 - 20.00 Uhr</p>
      <p>Sa 9.00 - 16.00 Uhr</p>
    </div>

    <div class="column">
      <h2>Hilfe</h2>
      <p>Karte sperren</p>
      <p>Sicherheit</p>
      <p>Geldautomat finden</p>
    </div>

    <div class="column">
      <h2>Folgen Sie uns</h2>
      <p>Karte sperren</p>
      <p>Sicherheit</p>
      <p>Geldautomat finden</p>
    </div>
  </div>
  <div class="botlinks">
    <a href="#">Impressum</a>
    <a href="#">Datenschutz</a>
    <a href="#">AGB</a>
    <a href="#">Anregung, Kritik, Hinweise</a>
    <a href="#">Cookie-Einstellungen</a>
  </div>
</div>

