body {    
    background-color: white;
    --nav-width: 150px;
  
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 150px;
    margin-right: auto;
    text-align: center;
    margin: 0 0 0 var(--nav-width);
   

}
section{
    background-image: url('../../assets/images/Geldanlagen/investment-consulting.png');
    
        height: 100vh;
     
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100%;
    background: white;
    box-shadow: 0 0 0.75rem 0 #145bb3;
}

.navu {
    position: fixed;
    top: 90%;
    left: 0;
    width: var(--nav-width);
    height: 10%; 
    background: white;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
/*    color: #A9ADB4;*/
    color: #003669;
    font-weight: 500;
}

nav a:hover {
    background-color: #a0a0a0;
}

h1{
    color: #0f2350;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
/*    text-shadow: 0 0 5px #0f2350;*/
}

a {
    color: #0f2350;
}

table {
    box-shadow: 8px 8px 12px #A9ADB4 inset;
/*    border: 1px solid;*/
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
/*    border-spacing: 10px;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

tr {
    border: 1px solid #a0a0a0;
    color: #003669;
    font-weight: 500;
}

thead {
    font-size: 25px;
}

th {
    font-weight: normal;
    text-align: left;
}

td {
    font-weight: normal;
    text-align: right;
}

tbody tr:hover { 
    background-color: #a0a0a0;
}
  
tbody td:hover { 
    background-color: #a0a0a0; 
}

button {
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #A9ADB4;
    color: #0f2350;
}

.bg-image {
/*    background-image: url("../../assets/images/blue.png");*/
    height: 100%;
    background-position: center;
    background-size: 100%;
    position: relative;
}

.picture {
    width: 100%;
    height: auto;
}
.anlagen1,.anlagen2,.anlagen3{
    float: left;
    position: absolute;
    margin-right: 4%;
    height: 500px;
    width: 300px;
    background-color: #ffffff;
    margin-bottom: 20%;
    top: 20%;
    box-shadow: 0 0 0.75rem 0 #dad3c9;
   
}
.anlagen1{
    margin-left: 10%;
    top: 10%;
  
}
.anlagen3{
    margin-left: 25%;

  
}
.anlagen2{
    margin-left: 40%;
    top: 10%;
 
}
h2,h3,h4{
    font-size: 25px;  
    font-weight: 400;
    margin-top: 10%;
    color: #0a1530;
}
.text{
    color: #0f2350;
}
.test1{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    height: 100vh;
}

