<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <!-- Make website work on all devices and screen resolutions -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="investments.component.css">

  

    <body>
        <!--<nav class="nav" (click)="countdown.restart()">-->
        <nav class="nav">
            <b href="https://www.apobank.de/" target="_blank"><img src="assets/images/Apobank_logo.png" alt="deutsche apotheker- und ärztebank"/></b>
            <a href="/home" class="nav__link">Übersicht</a>
            <a href="/my-data" class="nav__link">Meine Daten</a>
            <a href="/accounts" class="nav__link">Konten</a>
            <a href="/credits" class="nav__link">Kredite</a>        
            <a href="/investments" class="nav__link">Geldanlagen</a>
            <nav class="navu"> 
<!--                <countdown #countdown [config]="{leftTime: 300}"></countdown>-->
                -Kundennummer-
                <a href="/log" class="nav__link">Ausloggen</a> 
            </nav>
        </nav>
        
<section>
    
     <div class=test1>
        <h1>Geldanlagen</h1>
                <br>
                    <div class=anlagen1>
                    <div id=inv1>
                        
                        <h2 face="Times New Roman" >
                           Studenten

                        </h2>
                        <img src="../../assets/images/student.JPG" width="250px"
                        height="200px">
                        <br>
                        <br>
                        <div class=text>
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
                    </div>
                        <a href="https://www.apobank.de/unsere-leistungen/geldanlage-vermoegen/geldanlage/tagesgeld" class="nav__link">Mehr Anzeigen</a>
                    </div>
                    </div>
                    <div class=anlagen2>
                    <div id=inv2>
                        <h3>
                            Rentner
                            
                        </h3>

                        <img src="../../assets/images/berufs.JPG" width="250px"
                        height="200px">
                        <br>
                        <br>
                        <div class=text>
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
                    </div>
                        <a href="https://www.apobank.de/unsere-leistungen/geldanlage-vermoegen/geldanlage/immobilien-als-kapitalanlage" class="nav__link">Mehr Anzeigen</a>
                    </div>
                    </div>
                    <div class=anlagen3>
                     <div id=inv3>
                        <h4>
                            Berufstätige 
                        </h4>
                        <img src="../../assets/images/berufs1.JPG" width="250px"
                        height="200px">
                        <br>
                        <br>
                        <div class=text>
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
                        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
                    </div>
                        <a href="https://www.apobank.de/unsere-leistungen/finanzierung-kredit/immobilienfinanzierung/schnelle-immobilienfinanzierung" class="nav__link">Mehr Anzeigen</a>
                    </div>
                     </div>
                   
                
  
         
                     <!--     <a href="https://www.apobank.de/institutionelle-anleger/investment-consulting"><img src="assets/images/Geldanlagen/investment-consulting.png" alt="Investment Consulting" class="picture"/></a>-->

                    </div>
</section>
    </body>
</html>
