<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <!-- Make website work on all devices and screen resolutions -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="home.component.css">

    <body>
        <h1>Hallo Nutzer!</h1>
        <p>
            aktueller Kontostand oder was halt so interessant für die Willkommensseite ist
        </p>
    
        <p>
            <a href="/sales" data-link>Link zB hier: letzte Umsätze anzeigen</a>.
        </p>
        <nav class="nav">
            <a href="/" class="nav__link" data-link>Übersicht</a>
            <a href="/sales" class="nav__link" data-link>Umsatzanzeige</a>
            <a href="/transfers" class="nav__link" data-link>Überweisungen</a>        
            <a href="/settings" class="nav__link" data-link>Einstellungen</a>
        </nav>
    </body>


    <!-- <h1>permanent advertisement</h1>

    <img src="assets/images/image01.png" alt="permanent" />



    <h1>personalized advertisement</h1>

    <div *ngIf="health">
        <div *ngIf="digital">
            <img src="assets/images/image02.png" alt="digital" />
            <img src="assets/images/image03.png" alt="health" />
        </div>

        <div *ngIf="!digital">
            <img src="assets/images/image03.png" alt="health" />
        </div>
    </div>

    <div *ngIf="!health">
        <div *ngIf="digital">
            <img src="assets/images/image02.png" alt="digital" />
        </div>
    </div> -->

</html>
