body {
    background-color: white;
    --nav-width: 150px; /*weg für oben*/
    margin: 0 0 0 var(--nav-width); /*weg für oben*/
    font-family: 'Roboto', sans-serif; /*apo*/
    font-size: 18px;
    margin-left: 150px;
    margin-right: auto;
    text-align: center;
}

/*navigation menu*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width); /*oder "auto;"(apo)?, vieeeele für oben*/
    height: 100%; /*oder "vh" statt "%"(apo), ODER: Angabe in px, wenn nur Bereich bis bestimmte Länge (zB 40px für oben)*/
    background: #003669; /*apo*/
}

.nav__link {
    /*display: inline;            /* Listenelemente nebeneinander */
    /*list-style-type: none;      /* Aufzählungszeichen entfernen */
    display: block; /*weg für oben*/
    padding: 12px 18px;
    text-decoration: none;
    color: #A9ADB4;
    font-weight: 500;
}

h1{
    color: #003669;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 0 0 5px white;
}

a {
    color: #0f2350; /*apo*/
}

/*oder direkt in ...component.html durch <style> dann ctrl+v von hier </style>
ODER halt <h1 style="color:...;margin-left:...;">heading</h1>
Spätere Definitionen überschreiben vorherige (also evtl auch externe interne oder andersherum)*/

.bg-image {
    background-image: url("../../assets/images/Uebersicht/home_placeholder.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

*{ padding:0; margin:0; list-style:none; border:0;}
.all{
  width:1280px;
  height:560px;
  padding:7px;
  border:1px solid #ccc;
  margin:100px auto;
  position:relative;
}


.screen{
  width:1280px;
  height:560px;
  overflow:hidden;
  position:relative;
}
.screen li{ width:1280px; height:560px; overflow:hidden; float:left;}
.screen ul{ position:absolute; left:0; top:0px; width:6000px;}
.all ol{ position:absolute; right:10px; bottom:10px; line-height:20px; text-align:center;}
.all ol li{ float:left; width:20px; height:20px; background:#fff; border:1px solid #ccc; margin-left:10px; cursor:pointer;}
.all ol li.current{ background:dodgerblue;}

#arr {display: none;}
#arr span{ width:30px; height:30px; position:absolute; left:5px; top:50%; margin-top:-20px; background:#000; cursor:pointer; line-height:40px; text-align:center; font-weight:bold; font-family:'黑体'; font-size:15px; color:#fff; opacity:0.3; border:1px solid #fff;}
#arr #right{right:5px; left:auto;}

button {
  width: 180px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;
  /* Just for presentation */
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}
.button:hover {
  background-color: cornflowerblue;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


h1{
  color:lightblue;
}
h2{
  color: white;
}
h3{
  color:white;
}

#schliessen{
  position: absolute;
  top:-2px;left:1280px;
  text-decoration: none;
  font-family: "Courier New";
  font-size: larger;
  font-weight: bolder;
}

#sidead{
  position: fixed;
  right:10px;
  top:50%;
  height:220px ;
}
