<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <!-- Make website work on all devices and screen resolutions -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="accounts.component.css">
    <style>
        span{ margin-right: 1em; }
    </style>

    <!--<body (click)="countdown.restart()">-->
        <body>
            <!--<nav class="nav" (click)="countdown.restart()">-->
            <nav class="nav">
                <b href="https://www.apobank.de/" target="_blank"><img src="assets/images/Apobank_logo.png" alt="deutsche apotheker- und ärztebank"/></b>
                <a href="/home" class="nav__link">Übersicht</a>
                <a href="/my-data" class="nav__link">Meine Daten</a>
                <a href="/accounts" class="nav__link">Konten</a>
                <a href="/credits" class="nav__link">Kredite</a>        
                <a href="/investments" class="nav__link">Geldanlagen</a>
                <nav class="navu"> 
    <!--                <countdown #countdown [config]="{leftTime: 300}"></countdown>-->
                    -Kundennummer-
                    <a href="/logout" class="nav__link">Ausloggen</a> 
                </nav>
            </nav>

        <div class="bg-image">
        <h1>Konten</h1>

        <table>
            <thead>
            <tr>Girokonto</tr>
            </thead>
            <tbody>
            <tr>
                <th>IBAN</th>
                <td>DE67500105174594645713</td>
            </tr>
            <tr>
                <th>Kontostand</th>
                <td>70€</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th><span><button type="button">Überweisung</button></span>
                <button type="button">Daueraufträge</button></th>
                <td><button type="button">Mehr</button></td>
            </tr>
            </tfoot>
        </table>
        <br>
        <br>
        <br>
        <table width=80%>
            <thead>
            <tr>Girokonto 2</tr>
            </thead>
            <tbody>
            <tr>
                <th>IBAN</th>
                <td>DE67500105174594645713</td>
            </tr>
            <tr>
                <th>Kontostand</th>
                <td>130€</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th><span><button type="button">Überweisung</button></span>
                <button type="button">Daueraufträge</button></th>
                <td><button type="button">Mehr</button></td>
            </tr>
            </tfoot>
        </table>
        <br>
        <br>
        <br>
        <table width=80%>
            <thead>
            <tr>Girokonto 3</tr>
            </thead>
            <tbody>
            <tr>
                <th>IBAN</th>
                <td>DE67500105174594645713</td>
            </tr>
            <tr>
                <th>Kontostand</th>
                <td>40€</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th><span><button type="button">Überweisung</button></span>
                <button type="button">Daueraufträge</button></th>
                <td><button type="button">Mehr</button></td>
            </tr>
            </tfoot>
        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    </body>
</html>
