<div class="img_wrapper">
  <img src="../../assets/images/mobile-banking-app_plus-2600-1950-4-3.jpg" />
  <div class="title-div1">
  </div>
  <div class="title-div2">
  </div>
  <h1>Konten</h1>
</div>
<div id="divide-center">
  <div id="info-wrapper">
    <ul >
      <li class="account_item" *ngFor="let item of accounts">
        <app-account-item></app-account-item>
      </li>
    </ul>
   <!-- <h2 id="question">Sind ihre Daten aktuell?</h2>
    <div id="personal-info">
      <h2>Persönliche Daten</h2>
      <div id="personal-info-button"><p>ändern</p></div>
      <table>
        <tbody>
        <tr><th>Vorname</th><td>Martin</td></tr>
        <tr><th>Nachname</th><td>Vichev</td></tr>
        <tr><th>Geburtsdatum</th><td>30.03.1999</td></tr>
        <tr><th>Familienstand</th><td>ledig</td></tr>
        <tr><th>Kinder</th><td>0</td></tr>
        <tr><th>Ausbildung</th><td>keine Angaben</td></tr>
        <tr><th>Berufliche Stellung</th><td>keine Angaben</td></tr>
        </tbody>
      </table>
    </div>
    <div id="address-info">
      <h2>Adressdaten</h2>
      <div id="address-info-button"><p>ändern</p></div>
      <table>
        <tbody>
        <tr><th>Hauptanschrift</th><td>Fakestrasse 69, 52074 Aachen</td></tr>
        <tr><th>Mobil, privat</th><td>+49 1742374322</td></tr>
        <tr><th>E-Mail</th><td>suckit@gmail.com</td></tr>
        </tbody>
      </table>
    </div>-->
  </div>
  <app-ad-right></app-ad-right>
</div>
