<head>

  <link rel="stylesheet" href="log.component.scss" type="text/scss">

</head>

<body>

<header>
  <h1 id="loginhl" > Anmeldung</h1>

</header>
<section>
  <div class="content">

    <div id="formgroup">
      <div class="example-container">

        <form [formGroup]="formm">
          <mat-form-field >
            <mat-label>Benutzername</mat-label>

            <input matInput placeholder="" formControlName="Benutzername">

          </mat-form-field>
        </form>
        <form [formGroup]="formm1">
          <mat-form-field >

            <mat-label>Passwort</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="Passwort">
            <button mat-icon-button matSuffix type="button" class= "bu1" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div id="bu21">

      <button type="button" class= "bu2" (click) = "goToPage('reg')" >Registrieren</button>
      &nbsp;
      <button type="button" class= "bu2" (click) = "login()" >Anmelden</button>
    </div>


  </div>


  <a href="https://www.instagram.com/apobank.de/"class="picture" >

    <img src="../../assets/images/links/logo-ig.svg"height="45px" width="45px" >

  </a>


  <a href="https://www.facebook.com/apobank.de" class="picture">

    <img src="../../assets/images/links/logo-fb.svg"height="45px" width="45px" >

  </a>

  <a href="https://www.youtube.com/channel/UChIAjXTBTSGzgcYK_7F12_w" class="picture">

    <img src="../../assets/images/links/logo-tr.svg"height="45px" width="45px" >

  </a>

  <a href="https://twitter.com/apobank" class="picture" >

    <img src="../../assets/images/links/logo-yt.svg"height="45px" width="45px" >

  </a>

</section>


<footer>
<app-footer></app-footer>

</footer>
</body>




