<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <!-- Make website work on all devices and screen resolutions -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="transfers.component.css">

    <body>
        <h1>Überweisungen</h1>
        <p>Tabelle mit Überweisungen (nur aktueller Monat?)</p>

        <nav class="nav">
            <a href="/" class="nav__link" data-link>Übersicht</a>
            <a href="/sales" class="nav__link" data-link>Umsatzanzeige</a>
            <a href="/transfers" class="nav__link" data-link>Überweisungen</a>        
            <a href="/settings" class="nav__link" data-link>Einstellungen</a>
        </nav>
    </body>

</html>
