body {    
    background-color: white;
    --nav-width: 150px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 150px;
    margin-right: auto;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100%;
    background: white;
    box-shadow: 0 0 0.75rem 0 #145bb3;
}

.navu {
    position: fixed;
    top: 90%;
    left: 0;
    width: var(--nav-width);
    height: 10%; 
    background: white;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
/*    color: #A9ADB4;*/
    color: #003669;
    font-weight: 500;
}

nav a:hover {
    background-color: #a0a0a0;
}

h1{
    color: #0f2350;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
/*    text-shadow: 0 0 5px #0f2350;*/
}

a {
    color: #0f2350;
}

table {
    box-shadow: 8px 8px 12px #A9ADB4 inset;
/*    border: 1px solid;*/
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
/*    border-spacing: 10px;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

tr {
    border: 1px solid #a0a0a0;
    color: #003669;
    font-weight: 500;
}

thead {
    font-size: 25px;
}

th {
    font-weight: normal;
    text-align: left;
}

td {
    font-weight: normal;
    text-align: right;
}

tbody tr:hover { 
    background-color: #a0a0a0;
}
  
tbody td:hover { 
    background-color: #a0a0a0; 
}

button {
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #A9ADB4;
    color: #0f2350;
}

.bg-image {
/*    background-image: url("../../assets/images/blue.png");*/
    height: 100%;
    background-position: center;
    background-size: 100%;
    position: relative;
}

.picture {
    width: 50%;
    height: auto;
}

