<head>

    <link rel="stylesheet" href="reg.component.scss" type="text/scss">
    
    </head>
    
    <body> 
           
                <header>   
                <div id="reghl">Registrierung</div>    
                </header>
                <section> 
                    <div class="content">
                <div id="formgroup2">
                     <form [formGroup]="formm3">
    
                   <! Value: {{ formm.value | json }} >
    
    
                        <mat-form-field>
                            <input matInput placeholder="E-Mail" formControlName="E1">
                        
                         </mat-form-field>
                        
                     </form>
                                 <br>        
                     <form [formGroup]="formm2">
                       <! Value: {{ formm1.value | json }} >
                         <mat-form-field>
                            <input matInput placeholder="E-Mail Wiederholen" formControlName="E2">
    
                         </mat-form-field>
    
                      </form>
    
    
                    <button (click) = "goToPage('logout')" >Registrieren </button>
                    
                    
                  </div>
             
                </div>
                <a href="https://www.instagram.com/apobank.de/"class="picture" >
                    
                  <img src="../../assets/images/links/logo-ig.svg"height="45px" width="45px" >
              
                 </a>
                 
             
             <a href="https://www.facebook.com/apobank.de" class="picture">
             
               <img src="../../assets/images/links/logo-fb.svg"height="45px" width="45px" >
           
             </a>
             
             <a href="https://www.youtube.com/channel/UChIAjXTBTSGzgcYK_7F12_w" class="picture">
               
               <img src="../../assets/images/links/logo-tr.svg"height="45px" width="45px" >
           
             </a>
             
             <a href="https://twitter.com/apobank" class="picture" >
             
               <img src="../../assets/images/links/logo-yt.svg"height="45px" width="45px" >
           
             </a>
          
                    </section>
    
    
     <footer>
    
     </footer>
        
        
       
    
    
    </body>