<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <!-- Make website work on all devices and screen resolutions -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="credits.component.css">

    <body>
        <h1>Kredite und Finanzierung</h1>
        <br>

        <nav class="nav">
            <img src="assets/images/Apobank_logo.png"/>
            <a href="/home" class="nav__link" data-link>Übersicht</a>
            <a href="/my-data" class="nav__link" data-link>Meine Daten</a>
            <a href="/accounts" class="nav__link" data-link>Konten</a>
            <a href="/credits" class="nav__link" data-link>Kredite</a>        
            <a href="/investments" class="nav__link" data-link>Geldanlagen</a>
            <br>
            <a href="/" class="nav__link" data-link>Ausloggen</a> 
        </nav>

        <a href="https://www.apobank.de/unsere-leistungen/finanzierung-kredit/existenzgruendungsfinanzierung"><img src="assets/images/Kredite/Existenzgruendungsfinanzierung.png" alt="Existenzgruendungsfinanzierung" class="picture"/></a>
        <a href="https://www.apobank.de/unsere-leistungen/finanzierung-kredit/praxiskredit"><img src="assets/images/Kredite/Praxiskredit.png" alt="Praxiskredit" class="picture"/></a>
        <a href="https://www.apobank.de/unsere-leistungen/finanzierung-kredit/immobilienfinanzierung"><img src="assets/images/Kredite/Immobilienfinanzierung.png" alt="Immobilienfinanzierung" class="picture"/></a>
        <a href="https://www.apobank.de/unsere-leistungen/finanzierung-kredit/finanzierungsprodukte"><img src="assets/images/Kredite/Finanzierungsprodukte.png" alt="Finanzierungsprodukte" class="picture"/></a>
    </body>
</html>
