<head>

<link rel="stylesheet" href="log.component.scss" type="text/scss">

</head>

<body> 
       
            <header>  
            <h1 id="loginhl"> Login</h1>  
            </header>
            <section> 
              <div id="back">
            <div id="formgroup">
                 <form [formGroup]="formm">

               <! Value: {{ formm.value | json }} >

                        
                        <mat-form-field id="test"appearence="outline">
                          
                    <input matInput placeholder="Benutzername" formControlName="Benutzername">
                  
                     </mat-form-field>
                     
                   </form>
                    <br>        
                   <form [formGroup]="formm1">
                   <! Value: {{ formm1.value | json }} >
                   <mat-form-field>
                    <input matInput placeholder="Passwort" formControlName="Passwort">

                     </mat-form-field>

                    </form>


                <button href="/reg" class="nav_link" data-link >Login</button>
                <button (click) = "goToPage('reg')" >Registrieren</button>
                
                    </div>
         
                </div>  
                </section>

              
 <footer>

 </footer>
</body>
    
   


