<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <!-- Make website work on all devices and screen resolutions -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="my-data.component.css">

    <body>
        <!--<nav class="nav" (click)="countdown.restart()">-->
        <nav class="nav">
            <b href="https://www.apobank.de/" target="_blank"><img src="assets/images/Apobank_logo.png" alt="deutsche apotheker- und ärztebank"/></b>
            <a href="/home" class="nav__link">Übersicht</a>
            <a href="/my-data" class="nav__link">Meine Daten</a>
            <a href="/accounts" class="nav__link">Konten</a>
            <a href="/credits" class="nav__link">Kredite</a>        
            <a href="/investments" class="nav__link">Geldanlagen</a>
            <nav class="navu"> 
<!--                <countdown #countdown [config]="{leftTime: 300}"></countdown>-->
                -Kundennummer-
                <a href="/logout" class="nav__link">Ausloggen</a> 
            </nav>
        </nav>

        <h1>Kundendaten</h1>
<section>
        <table>
            <thead>
            <th>Ihre persönlichen Daten &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">ändern</button></th>
            </thead>
            <tbody>
                <tr><th>Vorname</th></tr>
                <tr><th>Nachname</th></tr>
                <tr><th>Geburtsdatum</th></tr>
                <tr><th>Familienstand</th></tr>
                <tr><th>Kinder</th></tr>
                <tr><th>Ausbildung</th></tr>
                <tr><th>Berufliche Stellung</th></tr>
            </tbody>
        </table>

        <br>

        <table>
            <thead>
            <th>Adressdaten &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">ändern</button></th>
            </thead>
            <tbody>
                <tr><th>Hauptanschrift</th></tr>
                <tr><th>Mobil, privat</th></tr>
                <tr><th>E-Mail</th></tr>
            </tbody>
        </table>
        <a href=#infoss onclick="showHide(infoss)">Klickmich</a>
        <div id="infoss" onload="document.getElementById('infoss').style.display = 'none'" height= 700px; width= 700px; >Inhalt</div>

    </section>
    </body>

</html>
