# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\76985\OneDrive - rwth-aachen.de\Ruizhang Zhou\Studieren\Studieren in Deutchland in 2019\RWTH\Wintersemester 2020-2021 Semester 3\Software-Praktikum\web-application\Frontend\ads\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
