<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <!-- Make website work on all devices and screen resolutions -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="home.component.css">

    <body>
        <!--<nav class="nav" (click)="countdown.restart()">-->
        <nav class="nav">
            <b href="https://www.apobank.de/" target="_blank"><img src="assets/images/Apobank_logo.png" alt="deutsche apotheker- und ärztebank"/></b>
            <a href="/home" class="nav__link">Übersicht</a>
            <a href="/my-data" class="nav__link">Meine Daten</a>
            <a href="/accounts" class="nav__link">Konten</a>
            <a href="/credits" class="nav__link">Kredite</a>        
            <a href="/investments" class="nav__link">Geldanlagen</a>
            <nav class="navu"> 
<!--                <countdown #countdown [config]="{leftTime: 300}"></countdown>-->
                -Kundennummer-
                <a href="/logout" class="nav__link">Ausloggen</a> 
            </nav>
        </nav>
        
            <h1>Herzlich Willkommen!</h1>

        </body>

</html>
