nav{
  width: 15.00%;
  height: 100%;
  background: #FFFFFF;
  left: 0px;
  top: 0px;
  margin-right: 0px;
  position: fixed;
  elevation: 8deg;
  /*box-shadow: 0px 5px 5px #6A6A6A;*/
  box-shadow: rgba(100, 100, 111, 0.2) 2px 10px 10px 0px;
}
ul{
  margin-block-start: 0px;
  padding-inline-start: 0px;
}
li{
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #003669;
  font-weight: 500;
  list-style-type: none;
}
li a{
  text-decoration: none;
  color: #003669;
}

li:hover{
  background: #003669;
  color: #FFFFFF;
}
li:hover a{
  color: #FFFFFF;
}
li:active{
  background: #6A6A6A;
  color: #FFFFFF;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.login{
  width: 15%;
  height: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
.login .button_wrapper{
  display: flex;
  background: coral;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  box-shadow: 0px 1px 3px #6A6A6A;
}
.login .button_wrapper:hover{
  box-shadow: 0px 0px 0px #FFFFFF;
  margin-bottom: -10px;
}
.login .button_wrapper p{
  color: #FFFFFF;
}
.selected{
  background: #003669;
}
.selected a{
  color: #FFFFFF;
}
p{
  margin: 10px;
}



