<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <!-- Make website work on all devices and screen resolutions -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="investments.component.css">

    <body>
        <h1>Geldanlagen</h1>
        <br>

        <nav class="nav">
            <img src="assets/images/Apobank_logo.png"/>
            <a routerLink="/home" class="nav__link">Übersicht</a>
            <a routerLink="/my-data" class="nav__link">Meine Daten</a>
            <a routerLink="/accounts" class="nav__link">Konten</a>
            <a routerLink="/credits" class="nav__link">Kredite</a>        
            <a routerLink="/investments" class="nav__link">Geldanlagen</a>
            <nav class="navu">
                -Kundennummer-
                <a routerLink="/logout" class="nav__link">Ausloggen</a> 
            </nav>
        </nav>

        <a href="https://www.apobank.de/institutionelle-anleger/investment-consulting"><img src="assets/images/Geldanlagen/investment-consulting2.png" alt="Investment Consulting" class="picture"/></a>

    </body>
</html>
