<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <!-- Make website work on all devices and screen resolutions -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="investments.component.css">

    <body>
        <nav class="nav">
            <img src="assets/images/Apobank_logo.png"/>
            <a href="/" class="nav__link" data-link>Übersicht</a>
            <a href="/my-data" class="nav__link" data-link>Meine Daten</a>
            <a href="/accounts" class="nav__link" data-link>Konten</a>
            <a href="/credits" class="nav__link" data-link>Kredite</a>        
            <a href="/investments" class="nav__link" data-link>Geldanlagen</a>
            <br>
            <a href="/logout" class="nav__link" data-link>Ausloggen</a> 
        </nav>

        <a href="https://www.apobank.de/institutionelle-anleger/investment-consulting"><img src="assets/images/Geldanlagen/investment-consulting.png" alt="Investment Consulting" class="picture"/></a>

    </body>
</html>
