.center{
  position: relative;
  left: 15%;
  width: 85%;
  padding: 0px;
  margin: 0px;
  z-index: -1;
}
app-navigation{
  z-index: 5;
}

p{
  margin: 10px;
}
h1{
  margin: 20px;
}
.img_wrapper{
  width: 100%;
  height: 400px;
  /*box-shadow: rgba(100, 100, 111, 0.2) 2px 10px 10px 0px;*/
  /*box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;*/
  box-shadow: rgba(100, 100, 111, 0.2) 2px 10px 10px 0px;
  z-index: 1;
}
.img_wrapper img{
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: 0 65%;
  filter: brightness(80%);
}
.img_wrapper h1{
  position: absolute;
  width: 400px;
  top: 50px;
  left: 200px;
  z-index: 2;
  color: #003669;
  font-weight: bold;
}
.title-div1{
  position: absolute;
  display: block;
  top: 20px;
  left: 100px;
  width:600px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  opacity: 50%;
  z-index: 2;
  border-radius: 3px;
}
.title-div2{
  position: absolute;
  display: block;
  top: 35px;
  left: 120px;
  width: 600px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  opacity: 50%;
  z-index: 2;
  border-radius: 3px;
}
#top_btn_wrapper{
  display: flex;
  position: absolute;
  width: 150px;
  background: coral;
  justify-content: center;
  top: 182.5px;
  left: 140px;
  z-index: 3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 5px 0px;
  border-radius: 30px;
}
#top_btn_wrapper:hover{
  box-shadow: 0px 0px 0px #FFFFFF;
  margin-top: 10px;
}

#top_btn_wrapper p{
  color: #FFFFFF;
}
.center-center{
  /*background-color: #FFFFFF;*/
  width: 100%;
}
.line{
  height: 10px;
}
#divide-center{
  width: 100%;
}
#long-div{
  width: 1000px;
  height: 400px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 0px;
}
#long-div:after {
  content: "";
  display: table;
  clear: both;
}
.long-div-column{
  display: flex;
  float: left;
  width: 400px;
  height: 300px;
  margin: 50px;
  align-items: center;
  justify-content: center;
}
.long-div-column img{
  width: 400px;
  height: 250px;
  align-self: center;
}
.long-div-column p{
  color: #003669;
  font-size: large;
  word-spacing: 5px;
}
.column {
  display: flex;
  float: left;
  width: 350px;
  height: 600px;
  justify-content: center;
  align-items: center;
}
.row{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.bot_column_div{
  width: 300px;
  height: 500px;
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 0px;
}
.bot_column_div img{
  display: block;
  width: 300px;
  height: 180px;
  background: #003669;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0 auto;
}
.bot_column_div h2{
  width: 230px;
  margin: 10px auto;
  color: #003669;
}
.bot_column_div p{
  width: 230px;
  margin: 10px auto;
  color: #003669;
  font-size: large;
  word-spacing: 5px;
}



.wrap{
  width: 1280px;
  height: 560px;

  /*position:relative;*/
  /*left:-50px;*/

  position: fixed;
  top:18%;
  left:25%;

  margin: auto;
  z-index: 2000;
}
.list{
  width: 1280px;
  height: 560px;
  list-style: none;
  position:relative;
  padding-left: 0px;
}
.item{
  position:absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 50px;
  opacity: 0;
  transition: all .5s;
}
.item:nth-child(1){
  background-image: url('../../assets/images/Advertisement/AD1.jpg');
}
.item:nth-child(2){
  background-image: url('../../assets/images/Advertisement/AD2.jpg');
}
.item:nth-child(3){
  background-image: url('../../assets/images/Advertisement/AD3.jpg');
}


#goPre{
  left:0px;
}
#goNext{
  right:0px;
}
.item.active{
  opacity: 1;
  z-index: 10;
}
.pointList{
  padding-left: 0px;
  list-style: none;
  position: absolute;
  right:20px;
  bottom: 20px;
  z-index: 1000;
}
.point{
  width: 10px;
  height: 10px;
  background-color: rgba(0,0,0,4);
  border-radius: 100%;
  float:left;
  margin-right: 14px;
  border-style: solid;
  border-width: 2px;
  border-color:rgba(255,255,255,0.6);
  cursor: pointer;
}
.point.active{
  background-color: rgba(255,255,255,0.4);
}

.adTitle{
  color: lightblue;
  font-size: smaller;
}
.adSubtitle{
  font-size:25px;
  color:white;
}
.adContent{
  font-size: 20px;
  color:white;
}
.adText{
  position: relative;
  left:15px;
  top:-50px;
}

.pageBtn{
  width: 40px;
  height: 40px;
  position:absolute;
  top:275px;
  z-index: 100;
  font-family: cursive;
  font-size: 20px;
  cursor: pointer;
  opacity: 30%;
}

.infoBtn {
  display: inline-block;
  border-radius: 10px;
  background-color: lightskyblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position:relative ;
  top:380px;
  left:140px;
}

.infoBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.infoBtn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.infoBtn:hover{
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.24), 0 30px 70px 0 rgba(0,0,0,0.19);
}
.infoBtn:hover span {
  padding-right: 25px;
}

.infoBtn:hover span:after {
  opacity: 1;
  right: 0;
}

/*#firstBtn{*/
/*  position:relative ;*/
/*  top:250px;*/
/*  left:300px;*/
/*}*/
/*#secondBtn{*/
/*  position:relative ;*/
/*  top:250px;*/
/*  left:300px;*/
/*}*/
/*#thirdBtn{*/
/*  position:relative ;*/
/*  top:210px;*/
/*  left:500px;*/
/*}*/

#schliessen{
  right:0px;
  top:17px;
}

/* #sidead{
  position: absolute;
  right:2%;
  top:90%;
  z-index: 1100;
}

.sideAdBtn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: lightskyblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: relative;
  left:60px;
  top:65px;
}

.sideAdBtn:hover {background-color: skyblue}

.sideAdBtn:active {
  background-color: skyblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#sideImage{
    transform: scale(1.5);
} */

