<app-navigation class="column"></app-navigation>
<div class="center">
  <div class="img_wrapper">
    <img src="../../assets/images/KI_Investment_shutterstock_1617331678_700.jpg" />
    <div class="title-div1">
    </div>
    <div class="title-div2">
    </div>
    <div id="top_btn_wrapper">
      <p>Mehr erfahren</p>
    </div>
    <h1>Marktturbulenzen lassen sich nicht vermeiden.</h1>
  </div>
  <div id="divide-center">
    <div class="line"></div>
    <div class="center-center">
      <div id="long-div">
        <div class="long-div-column">
          <img src="../../assets/images/201123-jahreswechsel-16-9-1920-1080.jpg"/>
        </div>
        <div class="long-div-column">
          <p>
            Aktuelle Hinweise und Kontakt­möglichkeiten zu allen Themen rund um den Jahres­abschluss 2020 haben wir für Sie zusam­men­gestellt.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="bot_column_div">
            <img src="../../assets/images/Zahnärztin erklärt Kind Röntgenbild_16-9_1280-720px.jpg"/>
            <h2>Zahnarzt Gehalt 2020</h2>
            <p>Was verdient ein an­ge­stellter Zahnarzt heute? Die Gehälter variieren stark - das zeigt eine aktuelle Umfrage der apoBank. Infos zu Einkommen, Arbeitszeit und Arbeitsumfeld finden Sie hier.</p>
          </div>
        </div>
        <div class="column">
          <div class="bot_column_div">
            <img src="../../assets/images/201029-apoTalk-Header3.jpg"/>
            <h2>Ausblick: Vermögens­aufbau 2021</h2>
            <p>Die Corona-Pandemie war das beherr­schende Thema in 2020. Was bedeutet das für Sie als Anleger? Neh­men Sie an unse­rem inter­aktiven Experten­gespräch teil.</p>
          </div>
        </div>
        <div class="column">
          <div class="bot_column_div">
            <img src="../../assets/images/210114_apoStrategie_Läufer_16-9.jpg"/>
            <h2>Gute Gründe aufzuatmen</h2>
            <p>Die Corona-Pandemie bereitet Deutsch­land gerade einen harten Winter. Dennoch gibt es gute Gründe aufzuatmen. Im Rück­blick hat die Pan­demie hier­zulande weniger stark gewütet als erwartet.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="line"></div>
  </div>
  <app-footer></app-footer>
</div>
