<div>
  <table>
    <thead>
    <tr style="font-size: large; font-weight: bold">Konto</tr>
    </thead>
    <tbody>
    <tr>
      <th>Kontonummer</th>
      <td>{{account.accountNumber}}</td>
    </tr>
    <tr>
      <th>Kontostand</th>
      <td>{{account.balance}} €</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th>
        <span>
          <div class="button" style="float: left; margin-right: 10px;"><p>Überweisung</p></div>
        </span>
        <div class="button"><p>Daueraufträge</p></div>
      </th>
      <td>
        <div class="button"><p>Mehr</p></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
