body {
    background-color: white;
    --nav-width: 150px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 150px;
    margin-right: auto;
    text-align: center;
}

/*nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100%;
    background: #003669;
}

.navu {
    position: fixed;
    top: 90%;
    left: 0;
    width: var(--nav-width);
    height: 10%; 
    background: #003669;
}

nav a:hover {
    background-color: #0f2350;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #A9ADB4;
    font-weight: 500;
}*/

h1{
    color: #003669;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 0 0 5px white;
}

/*a {
    color: #0f2350;
} */
