body {
    background-color: white;
    --nav-width: 150px; /*weg für oben*/
    margin: 0 0 0 var(--nav-width); /*weg für oben*/
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/*navigation menu*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width); /*oder "auto;"(apo)?, vieeeele für oben*/
    height: 100%; /*oder "vh" statt "%"(apo), ODER: Angabe in px, wenn nur Bereich bis bestimmte Länge (zB 40px für oben)*/
    background: #003669; /*apo*/
}

.nav__link {
    /*display: inline;            /* Listenelemente nebeneinander */
    /*list-style-type: none;      /* Aufzählungszeichen entfernen */
    display: block; /*weg für oben*/
    padding: 12px 18px;
    text-decoration: none;
    color: #A9ADB4;
    font-weight: 500;
}

h1{
    color: #003669;
    margin-left: 20px;
    /*text-align: center;*/
}

a {
    color: #0f2350; /*apo*/
}

/*oder direkt in ...component.html durch <style> dann ctrl+v von hier </style>
ODER halt <h1 style="color:...;margin-left:...;">heading</h1>
Spätere Definitionen überschreiben vorherige (also evtl auch externe interne oder andersherum)*/
